.pagesNumber {
    position: relative;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.active {
    font-weight: bold;
    padding: 1px;
}

.notActive {
    cursor: pointer;
    padding: 1px;
}