.profileUserBackground {
    grid-area: content;
    height: 350px;
    background-repeat: no-repeat;
    background-size: auto 240px;
    background-position: top;
    border-radius: 11px;
    border: 0.1px solid;
    border-color: rgb(77, 77, 77);
}

.profileInfo {
    display: flex;
    align-items: flex-start;
    border-radius: 11px;
    height: 119.1px;
    background-color: rgb(47, 46, 46);
    position: relative;
    top: 231px;
}

.profileInfoWithStatus {
    margin-top: 10px;
    flex: 1;
}

.Contacts {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 800px;
}

.profilePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePhoto img {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    top: -80px;
    left: 15px;
    border: 4px solid;
    border-color: rgb(47, 46, 46);
    margin-right: 20px;
}

.buttonEditPhoto {
    margin-top: -76px
}