.FormContainer {
  display: flex;
  align-items: center;
}

.Message {
  flex: 1;
  width:383%;
  margin-top: 5px;
  min-height: 50px;
  max-width: 935px;
  resize: vertical;
  font-size: 1.25em;
  font-style: italic;
  color: rgb(233, 233, 233);
  background-color: rgb(47, 46, 46);
  border-radius: 11px;
  border: 0.1px solid;
  border-color: rgb(77, 77, 77);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.AddMessage {
  flex: 2;
  position: flex;
  margin-left: auto;
  max-width: 5.3%;
  min-height: 56px;
  background-color: rgb(47, 46, 46);
  border-radius: 11px;
}