.header {
    position: sticky;
    z-index: 1;
    top: 0;
    grid-area: header;
    border-radius: 0px 0px 11px 11px;
    background-color: rgb(54, 53, 53);
    border: 0.1px solid;
    border-color: rgb(77, 77, 77);
}

.iconSocialNetwork {
    position: relative;
    width: 45px;
    height: auto;
    top: 2px;
    left: 8px;
}

.LoginBlock {
    float: right;

}

.LoginBlock img {
    float: left;
    width: 45px;
    margin-right: 10px;
    margin-top: -22px;
}

.LoginBlock a,
.LoginBlock div {
    float: right;
    margin-top: -15px;
}

.LoginLink {
    position: relative;
    top: -15px;
    left: -5px;
}

.SocialNetworkName {
    margin-top: -43px;
    margin-left: 60px;
    font-size: 1.25em;
    font-style: italic;
    color: white;
    font-weight: bold;
}